black==24.4.2
fastapi==0.111.0
fastapi-cli==0.0.4
fonttools==4.51.0
huggingface-hub==0.23.4
Jinja2==3.1.4
matplotlib==3.8.4
numba==0.60.0
numpy==1.26.4
openai==0.28.1
openpyxl==3.1.2
pandas==2.2.2
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
sentence-transformers==3.0.1
streamlit==1.36.0
tqdm==4.66.4
transformers==4.41.2
ujson==5.10.0
urllib3==2.2.2
uvicorn==0.30.1
chromadb==0.3.21